@import "../../variables.scss";

.container {
  flex-shrink: 0;
  background: $mainBackground;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: $contentWidth;
  margin: 0 auto;
  height: 100px;
  background: $mainContentBackground;
}
