@import "./variables.scss";

.container {
    background: $mainBackground;
    flex-grow: 1;
  }

.filterPage {

  background: $mainContentBackground;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: $contentWidth;
  border: 0px solid $mainGray;
  padding: 50px;
  margin: 0 auto;
}

.filterPageError {

    background: $mainContentBackground;
  
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: $contentWidth;
    border: 0px solid $mainGray;
    padding: 50px;
    margin: 0 auto;
  }
